include CONTRIBUTING.md
include LICENSE
include MANIFEST.in
include README.rst
include NOTICE
include CHANGELOG.md

prune docs/sphinx/_build
prune test_elasticsearch
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
